html,
body {
    height: 100%;
    overflow: hidden;
}

body,
div {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}

.box {
    width: 95%;
    height: 95%;
    display: flex;
}

.map,
.video {
    width: 48%;
    height: 100%;
}

.video {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 4%;
    position: relative;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
}

.speed {
    font-size: 24px;
    padding: 10px;
}

.speed span {
    color: red;
}

.compass-box {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: red;
}
.compass-box img{
    width: 100%;
}

.button.play {
    width: 74px;
    height: 74px;
    border-style: solid;
    box-sizing: border-box;
    background:url(../images/pause-play-button.svg) no-repeat;
    background-size: 100%;
    background-position: center center;
    
}

.button.pause {
    width: 74px;
    height: 74px;
    border-style: double;
    border-width: 0px 0px 0px 37px;
    border-color: #202020;
}